html{
  font-size: 20px;
  text-align: center;
}

h1{
  letter-spacing: 1.2em;
  text-shadow: 10px 10px 10px;
  font-family: "Josefin Sans", sans-serif ;
}

body{
font-family: "Arial", "Meiryo", sans-serif;  
}

.PINK , #PINK{
color:rgb(225, 192, 203)  ;
}
.BLUE , #BLUE{
  color: skyblue;
}

#basic{
  font-weight: bold;
}
